 /* .ka-table-wrapper table {
} */
 .save-changes {
     padding: 0.5rem;
     width: 10rem;
     font-family: 'Noto Kufi Arabic', sans-serif;
     background-color: #2980b9;

     color: #FFFFFF;
     border-radius: 4px;
 }
 .save-changes:hover{
     background-color: #f4b069;
 }
 table {
     width: 100%;
     /* border: 2px solid gray; */
     text-align: center;
     font-family: 'Noto Kufi Arabic', sans-serif !important;
     margin-top: 4rem;
     margin-bottom: 0.1rem;
 }
.table-msg-text-section{
    margin-top: 4rem;
    margin-bottom: 0.1rem;
}
 table th, table td {
     padding: 0.5rem;
     text-align: center;
     width: 50%;
 }

 tr:nth-child(even) {
     background-color: #f2f2f2;
 }

 th {
     background-color: #94C3D9;
     color: white;
 }




 /* the div of the updated  */
 .ka-cell-editor input {
     text-align: center;
 }